

@import url('https://fonts.cdnfonts.com/css/pet-shop');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f2b5;
  background: -webkit-linear-gradient(to right, #135058, #f1f2b5);
  background: linear-gradient(to right, #135058, #f1f2b5);
}

.main {
  
  background-image: url(https://i.hizliresim.com/e1frpu7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(70,58,15,1) 100%);
  

  min-height: calc(100vh - 60px);
  position: relative;
  > div {
    text-align: center;
    color: rgba(71, 46, 46, 0.705);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    .main-buttons {
      margin-top: 1rem;
    }
  }
}
.nav-link {
  color: white !important;
  &:hover {
    color: red !important;
  }
}
.active {
  text-decoration: underline !important;
}

.card {
  border: none;

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f1f2b5;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #135058;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  
}

.social-list li {
  padding: 10px;
  color: #135058;
  font-size: 19px;
  
}

.social-list li{
  color: purple;
}

.main-buttons button:nth-child(1) {
  border: 1px solid black !important;
  background-color: rgb(230, 218, 218);
  color: #135058;
  height: 40px;
}
.main-buttons button:nth-child(1):hover {
  border: 1px solid #135058 !important;
  color: #fff;
  height: 40px;
  background-color: #135058;
}

.buttons button:nth-child(1) {
  border: 1px solid #135058 !important;
  color: #135058;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #135058 !important;
  height: 40px;
  background-color: #135058;
  & a {
    color: #fff !important;
  }
}

.buttons button:nth-child(2) {
  border: 1px solid #135058 !important;
  background-color: #135058;
  color: #fff;
  height: 40px;
}

.main-buttons button:nth-child(2) {
  border: 1px solid #135058 !important;
  background-color: #135058;
  color: #fff;
  height: 40px;
}



.navbars{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(60,70,15,0.5102415966386555) 100%);
  font-family: 'Pet Shop', sans-serif;
  font-size: 2rem;
}